@charset "UTF-8";

/* =========================
1 - Estilos padrões
============================ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
2 - Header
============================ */